{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>S.O.V.A</title>
    <link rel="icon" type="image/x-icon" href="{% static 'pictures/logo/cropped-cropped-collages3-009weef9b5.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/component.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/vegas.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/octo.css' %}">#}

    <!-- OCTO section  -->
{#<div>#}
{#    <style>.github-corner:hover .octo-arm {#}
{#    animation: octocat-wave 560ms ease-in-out#}
{#}#}
{##}
{#@keyframes octocat-wave {#}
{#    0%, 100% {#}
{#        transform: rotate(0)#}
{#    }#}
{#    20%, 60% {#}
{#        transform: rotate(-25deg)#}
{#    }#}
{#    40%, 80% {#}
{#        transform: rotate(10deg)#}
{#    }#}
{#}#}
{##}
{#@media (max-width: 500px) {#}
{#    .github-corner:hover .octo-arm {#}
{#        animation: none#}
{#    }#}
{##}
{#    .github-corner .octo-arm {#}
{#        animation: octocat-wave 560ms ease-in-out#}
{#    }#}
{#}</style>#}
{#<a href="https://github.com/ivanmarinoff/S.O.V.A-school.git" class="github-corner" aria-label="View source on GitHub"#}
{#   rel="noopener" target="Blank">#}
{#    <svg width="80" height="80" viewBox="0 0 250 250"#}
{#         style="fill:var(--github-bg); color:var(--dark-color-d); position: absolute; top: 0; border: 0; right: 0;"#}
{#         aria-hidden="true">#}
{#        <path pointer-events="fill" d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>#}
{#        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"#}
{#              fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>#}
{#        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"#}
{#              fill="currentColor" class="octo-body"></path>#}
{#    </svg>#}
{#</a>#}
{#</div>#}
    <!-- Navigation section  -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="{% url 'index' %}#top" class="navbar-brand smoothScroll">SCHOOL OF PSYCHOLOGY</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        {#                        <li><a href="{% url 'profile-details' pk=request.user.pk %}"#}
                        {#                               class="smoothScroll"><span>Profile Details</span></a></li>#}
                        {#                        <li><a href="{% url 'profile-delete' pk=request.user.pk %}"#}
                        {#                               class="smoothScroll"><span>Delete</span></a></li>#}
                        <li><a href="{% url 'read-content' slug=user.pk %}"
                               class="smoothScroll"><span>Content</span></a></li>
                        <li><a href="{% url 'global-read-content' %}"
                               class="smoothScroll"><span>Global Content</span></a></li>
                        <li><a href="{% url 'profile-details' pk=request.user.pk %}" class="smoothScroll"><span>Profile Details</span></a>
                        </li>
                        <li><a href="{% url 'logout_user' %}"
                               class="smoothScroll"><span>Logout: {{ request.user }}</span></a></li>
                    {% else %}
                        <li><a href="#top" class="smoothScroll"><span>Home</span></a></li>
                        <li><a href="#about" class="smoothScroll"><span>About</span></a></li>
                        <li><a href="#gallery" class="smoothScroll"><span>Gallery</span></a></li>
                        <li><a href="#contact" class="smoothScroll"><span>Contact</span></a></li>
                        <li><a href="{% url 'login_user' %}" class="smoothScroll"><span>Login</span></a></li>
                        <li><a href="{% url 'register_user' %}" class="smoothScroll"><span>Sign Up</span></a></li>

                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
    </body>
    <script type="text/javascript">!function (t, e) {
    t.artibotApi = {
        l: [], t: [], on: function () {
            this.l.push(arguments)
        }, trigger: function () {
            this.t.push(arguments)
        }
    };
    var a = !1, i = e.createElement("script");
    i.async = !0, i.type = "text/javascript", i.src = "https://app.artibot.ai/loader.js", e.getElementsByTagName("head").item(0).appendChild(i), i.onreadystatechange = i.onload = function () {
        if (!(a || this.readyState && "loaded" != this.readyState && "complete" != this.readyState)) {
            new window.ArtiBot({i: "58464b32-2cc8-4814-afeb-a07c22f20301"});
            a = !0
        }
    }
}(window, document);</script>
    <!-- Javascript  -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vegas.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/toucheffects.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    {% block content %}
    {% endblock %}
</head>
</html>