{% extends 'content/content_navbar.html' %}
{% block navbar_content %}
{#    <div class="container" id="content">#}
        <div class="row">
            <div class="col-12 row text align-fa-align-center">
                <br><br><br><br>
                <h1>
                    <p>Create content!</p>
                    <form action="{% url 'create-content' request.user.pk %}" method="post">
                        <div class="col-12">
{#                            <tbody>#}
{#                            <table class="table table-bordered">#}
                                {% for text in form %}
{#                                <tr>#}
                                    <h1>{{ title }}</h1>
                                    <h1>{{ text }}</h1>
{#                                </tr>#}
                            {% endfor %}
{#                            </tbody>#}
{#                            </table>#}
{#                            </tbody>#}
                        </div>
                            {% csrf_token %}

                    <button type="submit">Save</button>
                    <button onclick="history.back()">Go Back</button>
</form>
                </h1>
            </div>
        </div>
{#    </div>#}


{% endblock navbar_content %}