{% extends 'content/content_navbar.html' %}

{% block navbar_content %}
    <div class="container" id="content">
        <div class="row">
            <div class="col-12 row text align-fa-align-center">
                <p>Are you sure you want to delete this content?</p>
                <tbody>
                <tr>
                    <td>
                        <h2>
                            {{ content.title }}
                        </h2>
                    </td>
                    <td>
                        <p>
                            {{ content.text }}
                        </p>
                    </td>
                </tr>

                </tbody>

                <form action="{% url 'delete-content' pk=content.pk %}" method="post">
                <a href="{% url 'delete-content' pk=content.pk %}" class="smoothScroll">
                    <button>Delete</button>
                </a>
                {% csrf_token %}
                <button onclick="history.back()">Go Back</button></form>
            </div>
        </div>
    </div>

{% endblock navbar_content %}