{#{% extends 'home/navbar.html' %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content Delete Page</title>
</head>
<body>
<h1>
    Are you sure you want to delete this content?
    <form action="{% url 'delete-content' content.pk %}" method="post">
        <li>
            {{ content.title }}
        </li>
        <li>
            {{ content.text }}
        </li>

        {% csrf_token %}
        <button type="submit">Yes</button>
        <a class="edit-btn" href="javascript:history.back()">Go back</a>
    </form>
</h1>
{{ request.user }}
</body>
</html>
<li>
    This is a delete content!
</li>