{% extends 'content/content_navbar.html' %}
{% load static %}
{% block navbar_content %}
    <div class="container" id="content">
        <div class="row">
            <div class="text-center" data-wow-delay="0.9s">
              <br><br><br><br>
                <form action="{% url 'read-content' slug=content.slug %}" enctype="multipart/form-data"
                      method="get"></form>
                <tbody>
                <tr>

                    <td>
                        <h2>
                            {{ object.title }}
                        </h2>
                    </td>
                    <td>
                        <p1>
                            {{ object.text }}
                        </p1>
                    </td>
                     <td>
                        <p>
                            <img src="{{ content.image_url }}" style="width:50%" alt="Image_url">
                        </p>
                    </td>

                </tr>
                </tbody>
                {% if user.is_authenticated %}
                    <form action="{% url 'edit-content' request.user.pk %}" method="post"></form>
                    <a href="{% url 'edit-content' content.slug %}" class="smoothScroll">
                        <button>Edit Content</button>
                    </a>

                    <form action="{% url 'delete-content' request.user.pk %}" method="post"></form>
                    <a href="{% url 'delete-content' content.slug %}" class="smoothScroll">
                        <button>Delete</button>
                    </a>
                {% endif %}

                <button onclick="history.back()">Go Back</button>

            </div>
        </div>
    </div>
{% endblock navbar_content %}