{% extends 'content/content_navbar.html' %}
{% load custom_filters %}
{#<style>#}
{#    .list {#}
{#        display: flex;#}
{#    }#}
{#</style>#}

{% block navbar_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <table class="table table-bordered" style="list-style-type:upper-roman" aria-sort="descending">
                    <thead>
                    <tr>
                        <th><p>Title</p></th>
                        <th><p>Content</p></th>
                        <th><p>Answer</p></th>
                        {#            <th>Menu</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    <form action="{% url 'read-content' request.user.pk %}" method="get">
                        <input type="text" class="form-control" name="search" placeholder="Search by content..."
                               value="{{ request.GET.text }}">
                        <input type="submit" class="form-control" value="Search">
                    </form>
                    {% if user.is_staff %}
                        <form action="{% url 'create-content' request.user.pk %}" method="get">
                            <input type="submit" class="form-control" value="Create content"></form>
                    {% elif user.is_superuser %}
                        <form action="{% url 'create-content' request.user.pk %}" method="get">
                            <input type="submit" class="form-control" value="Create content"></form>
                    {% endif %}

                    {% for content in object_list %}
                        {% if user.is_authenticated %}
                            <tr>
                            <td>
                                <h2>
                                    <a href="{% url 'detail-content' content.pk %}">
                                        {{ content.title|truncatechars:20 }}
                                    </a>
                                </h2>
                            </td>
                            <td>
                                <p>
                                    {{ content.text|truncatechars:200 }}
                                </p>
                            </td>

                        {% endif %}
                    {% if user.pk == content.user.pk %}
                        <tr>
                            <td>
                                <h2>

                                    <a href="{% url 'detail-content' content.pk %}">
                                        {{ content.title|truncatechars:20 }}
                                    </a>
                                </h2>
                            </td>
                            <td>
                                <p>
                                    {{ content.text|truncatechars:200 }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ content.user_choices }}
                                </p>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}

                    </tbody>
                </table>

                {% csrf_token %}

                {% if is_paginated %}

                    <h2>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}

                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>

                            {% else %}

                                <li class="disabled"><span>&laquo;</span></li>

                            {% endif %}

                            {% for i in paginator.page_range %}

                                {% if page_obj.number == i %}

                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

                                {% else %}

                                    <li><a href="?page={{ i }}">{{ i }}</a></li>

                                {% endif %}

                            {% endfor %}

                            {% if page_obj.has_next %}

                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>

                            {% else %}

                                <li class="disabled"><span>&raquo;</span></li>

                            {% endif %}

                        </ul>

                    </h2>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
