{% extends 'content/content_navbar.html' %}
{% load static %}
{% load custom_filters %}
{% block navbar_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br><br><br><br>
                <table class="table table-bordered" style="list-style-type:upper-roman" aria-sort="descending">
                    <thead>
                    <tr>
                        <th>
                            <p1>Title</p1>
                        </th>
                        <th>
                            <p1>Content</p1>
                        </th>
                        <th>
                            <p1>Image</p1>
                        </th>
                        <th>
                            <p1>Username</p1>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <form action="{% url 'read-content' request.user.pk %}" method="get">
                        <input type="text" class="form-control" name="search" placeholder="Search by text..."
                               value="{{ request.GET.text }}">
                        <input type="submit" class="form-control" value="Search">
                    </form>

                    <form action="{% url 'create-content' request.user.pk %}" method="get">
                        <input type="submit" class="form-control" value="Create content"></form>
                    {# slug #}

                    {#                    {% if user.is_authenticated %}#}
                    {% for content in object_list %}
                        {% if user.is_superuser %}
                            <tr>
                                <td>
                                    <h2>
                                        <a href="{% url 'detail-content' slug=content.slug %}">
                                            {{ content.title|truncatechars:50 }}</a>
                                    </h2>
                                </td>
                                <td>
                                    <p>
                                        {{ content.text|truncatechars:200 }}
                                    </p>
                                </td>
                                <td>
                                    <p>
                                       <img src="{{ content.image_url }}" style="width:20%" alt="Image_url">
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ content.user.username }}
                                    </p>
                                </td>
                            </tr>
                        {% elif user.pk == content.user.pk %}
                            <tr>
                                <td>
                                    <h2>
                                        <a href="{% url 'detail-content' slug=content.slug %}">
                                            {{ content.title|truncatechars:20 }}</a>
                                    </h2>
                                </td>
                                <td>
                                    <p>
                                        {{ content.text|truncatechars:200 }}

                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <img src="{{ content.image_url }}" style="width:20%" alt="Image_url">
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{ request.user.username }}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                {% csrf_token %}
                {% if is_paginated %}

                    <h2>
                        <div class="pagination">
                            {% if page_obj.has_previous %}

                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>

                            {% else %}

                                <li class="disabled"><span>&laquo;</span></li>

                            {% endif %}

                            {% for i in paginator.page_range %}

                                {% if page_obj.number == i %}

                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

                                {% else %}

                                    <li><a href="?page={{ i }}">{{ i }}</a></li>

                                {% endif %}

                            {% endfor %}

                            {% if page_obj.has_next %}

                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>

                            {% else %}

                                <li class="disabled"><span>&raquo;</span></li>

                            {% endif %}
                        </div>
                    </h2>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
