{% extends 'global_content/global_navbar.html' %}
{% load static %}
{% block global_navbar_content %}
    <div class="container" id="content">
        <div class="row">
            <div class="col-12 row text align-fa-align-center" >

                    <form action="{% url 'global-read-content' %}" enctype="multipart/form-data" method="get"></form>
                {#        <thead>#}
                {#        <tr>#}
                {#            <th><p>Title</p></th>#}
                {#            <th><p>Content</p></th>#}
                {#            <th>Menu</th>#}
                {#        </tr>#}
                {#        </thead>#}
                <tbody>
                <tr>
                    <td>
                        <h2>
                            {{ object.title }}
                        </h2>
                    </td>
                    <td>
                        <p>
                            {{ object.text }}
                        </p>
                    </td>
                    <td>
                        <p>
                            <img src="{{ globalcontent.image_url }}" style="width:50%" alt="Image_url">
                        </p>
                    </td><td>
                    </td>
                </tr>
                </tbody>
                {% if request.user.is_superuser %}
                <form action="{% url 'global-edit-content' slug=object.slug %}" method="post"></form>


                <form action="{% url 'global-delete-content' slug=object.slug %}" method="post"></form>

                <a href="{% url 'global-edit-content' slug=object.slug %}" class="smoothScroll">
                    <button>Edit</button>
                </a>
                <a href="{% url 'global-delete-content' slug=object.slug %}" class="smoothScroll">
                    <button>Delete</button>
                </a>

                {% endif %}
                <button onclick="history.back()">Go Back</button>

            </div>
        </div>
    </div>
{% endblock global_navbar_content %}