{% extends 'global_content/global_navbar.html' %}
{% block global_navbar_content %}
    {#    <div class="container" id="content">#}
    <div class="row">
        <div class="col-12 row text align-fa-align-center">
            <br><br><br><br>
            <h1>
                <p>Edit this content!</p>


                    <form action="{% url 'global-edit-content' slug=object.slug %}" method="post" enctype="multipart/form-data">
                        <div class="col-12">
                            <table class="table table-bordered">
                            {% if  request.user.is_superuser %}
                                {% for text in form %}
                                    <h1>{{ title }}{{ text }}{{ image }}{{ photo }} {{ video }}</h1>
                                {% endfor %}
                            </table>
                        </div>
                        {% csrf_token %}

                        <button type="submit">Save</button>
                        <button onclick="history.back()">Go Back</button>
                    </form>
                {% endif %}

            </h1>
        </div>
    </div>
    {#    </div>#}


{% endblock global_navbar_content %}