{% extends 'global_content/stream_navbar.html' %}
{% load static %}
{% block stream_navbar_content %}

    {#    <div class="container">#}
    {#        <div class="row">#}
    <div class="wow fadeInUp">
        <div class="row">
            <div class="col-12 col-md-9">
                <br><br><br><br>


                <h2 class="h2">School Stream !</h2>
                <!-- Your existing HTML content here -->
                <video id="video" class="video-stream" width="920" height="540" controls></video>
                <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
                <!-- Or if you want a more recent alpha version -->
                <!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@alpha"></script> -->
                <script>
                    const video = document.getElementById("video");
                    const videoSrc = "http://localhost:8080/hls/test.m3u8";
                    if (Hls.isSupported()) {
                        const hls = new Hls();
                        hls.loadSource(videoSrc);
                        hls.attachMedia(video);
                    }
                        // hls.js is not supported on platforms that do not have Media Source
                        // Extensions (MSE) enabled.
                        //
                        // When the browser has built-in HLS support (check using `canPlayType`),
                        // we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video
                        // element through the `src` property. This is using the built-in support
                        // of the plain video element, without using hls.js.
                        //
                        // Note: it would be more normal to wait on the 'canplay' event below however
                        // on Safari (where you are most likely to find built-in HLS support) the
                        // video.src URL must be on the user-driven white-list before a 'canplay'
                        // event will be emitted; the last video event that can be reliably
                    // listened-for when the URL is not on the white-list is 'loadedmetadata'.
                    else if (video.canPlayType("application/vnd.apple.mpegurl")) {
                        video.src = videoSrc;
                    }
                </script>
                <button onclick="history.back()">Go Back</button>
            </div>
        </div>
    </div>
    <div class="chat-room-container">
        <div class="room-view">
            {% if request.user.is_superuser %}
{#                <label for="roomInput">Enter a room name to connect to it:</label>#}
{#                br#}
{#                <input type="text" class="chat-form-control" id="roomInput" placeholder="Room name">#}
{##}
{#                <small id="roomInputHelp" class="form-text text-muted">If the room doesn't exist yet, it#}
{#                    will be created for you.</small>#}
{#                <button type="button" id="roomConnect" class="button">Connect</button>#}
                <label for="onlineUsers">Online users</label>
                <select multiple class="chat-form-control" id="onlineUsersSelector"></select>
                {#                {{ request.user.username|json_script:"roomName" }}#}
            {% endif %}
            {#            {% if request.user.is_authenticated %}#}
{#            <label for="roomSelect">Active rooms</label>#}
{#            <select multiple class="chat-form-control" id="roomSelect">#}
{#                {% for room in active_rooms %}#}
{#                    <option value="{{ room.name }}">{{ room.name }}</option>#}
{#                {% endfor %}#}
{#            </select>#}

        </div>
        {% if not room.name %}
        <div class="chat-view">
{#            <a id="joinGeneralRoom" href="{% url 'room' room_name='general' %}" data-room="general">Join the General Room</a>#}
            <form action="{% url 'room' room_name='general' %}" id="joinGeneralRoom" data-room="general">
                <button class="button" value="Join">Join the General Room</button>
            </form>
            {% else %}
            <label for="chatLog">Room: #{{ room.name }}</label>
            <textarea class="chat-form-control" id="chatLog" readonly rows="4" cols="50"></textarea>
            <br>
            <input type="text" class="chat-form-control" id="chatMessageInput" autofocus="autofocus"
                   placeholder="Enter your chat message">

            <button class="button" id="chatMessageSend" type="button">Send</button>
            {% endif %}



        </div>
        {{ room.name|json_script:"roomName" }}
    </div>
    <style>
        .video-stream {
            transform: scaleX(1);
            display: block;
            margin: 0 auto;
        }
    </style>
    <style>
        .h2 {
            text-align: center;
            color: #e44c65;
            text-shadow: 2px 2px 4px #000000;
            text-blink: blink 3s infinite;
        }
    </style>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/room.js' %}"></script>
{% endblock stream_navbar_content %}